{% extends "_layout.html.j2" %}
{% from "_macros.html.j2" import button, heading %}
{% block preheader %}Your {{ app_name }} password was changed.{% endblock %}
{% block content %}
{{ heading("Your password was changed") }}
<p style="margin:0 0 12px;">Hi {{ name or "there" }},</p>
<p style="margin:0 0 12px;">The password of your {{ app_name }} account was just changed, and every other signed-in browser was signed out.</p>
<p style="margin:0;"><strong style="font-weight:600;">Wasn't you?</strong> Reset your password right away; that signs everyone out again.</p>
{{ button(forgot_link, "Reset my password") }}
{% endblock %}
